.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.calendar-main {
  float: right;
  width: calc(100% - 14%);
  position: relative;
  top: -10px;
  scale: 0.9;
}

.calendar-content {
  background-image: linear-gradient(to left, rgb(255, 255, 255), #009254);
  border-radius: 1rem;
  padding: 10px 0 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
}

.ant-picker-calendar-header {
  margin-right: 20px;
  margin-bottom: 5px;
}