.sider {
  position: fixed;
  overflow: auto;
  width: 210px ;
  height: 1024px;
  background: #ffffff;
  box-shadow: 0px 5px 5px #888888;
  
}

.sider .inner-logo {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* width: 210px; */
}

.sider .inner-logo a {
  text-decoration: none;
  margin-right: 10px;
}

.sider .inner-content {
  position: relative;
  width: 80%;
}

.sider .inner-content div {
  width: 210px;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  transition: all 0.2s ease-out;
 
}

.sider .inner-content div p {
  margin-left: 10px;
  font-weight: 600;
}

.sider .inner-content div:hover {
  background: #91D9B5;
  border-radius: 5px;
  /* margin: 5px 0; */
  transition: all 0.2s ease-out;

}

.sider .inner-content .sign-out{
  position: absolute;
  bottom: -280px;
  max-width: 250px;
  width: 100%;
}

.selected {
  background-color: #91D9B5;
}

.link-tag {
  text-decoration: none;
  color: #081C15;
}

.sider {
  position: fixed;
  overflow: auto;
  width: 15%;
  height: 1024px;
  background: #1f191900;
  border-right: #081C15;
  
}

@media (max-width: 768px) { 
  .sider {
    width: 50px;
    height: 100vh;
  }

  .sider .inner-logo {
    margin: 0;
    scale: 0.8;
  }
  
.sider .inner-logo a{
  display: none;
}

.sider .inner-content .inner-item{
  margin: 0;
  padding-left: 18px;
}

.sider .inner-content .inner-item p {
    display: none !important;
  }

}