.main {
  position: relative;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 25px;
}

.main .calendar {
  z-index: 1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFFCE7;
}