.KPIs {
  text-align: center;
}

.KPIs-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .KPIs-logo {
    animation: KPIs-logo-spin infinite 20s linear;
  }
}

.KPIs-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.KPIs-link {
  color: #ffffff;
}

@keyframes KPIs-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #ffffff;
}
/* .KPI {
  background-color: #91D9B5;
} */

.kpis-list {
  width: calc(100% - 280px); /* Chiều rộng danh sách mục tiêu, trừ đi chiều rộng sidebar */
  margin-left: 240px; /* Khoảng cách so với sidebar */
  padding: 20px;
}

.list-header{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kpi-item {
  background-color: #FFFCE7;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.24);
  position: relative;
}

.kpi-tag {
  background-color: #e9f5e9;
  color: #16871a;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.kpi-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.kpi-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.progress-bar-background {
  width: 60%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

.add-kpi-button{
  padding: 10px;
  font-size: medium;
  background-color: #FFFCE7;
  border-radius: 5px;
  border-width: 0.2px;
}
.kpi-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.kpi-date {
  width: 14.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Calender {
  padding-top: 6px;
}
h3 {
  width: 10%;
}

.kpi-details {
  padding-right: 15px;
  margin-top: 10px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.detail-item {
  padding:  0 15px;
  margin: 10px 2%;
  border-radius: 10px;
  background-color: #D0FFD6;
  box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.24);
  flex: 0 0 25%; 
  box-sizing: border-box;
}

.arrow {
width: 10px;
height: 10px;
background-color: #16871a;
}

.kpis-forcecast{
  padding: 10px;
  font-size: medium;
  background-color: #FFFCE7;
  border-radius: 5px;
  border-width: 0.2px;
}