.KPIs {
  text-align: center;
}

.KPIs-logo {
  height: 40vmin;
  pointer-events: none;
}


.KPIs-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.KPIs-link {
  color: #ffffff;
}


body {
  background: #ffffff;
}
/* .KPI {
  background-color: #91D9B5;
} */

.kpis-list {
  width: calc(100% - 280px); /* Chiều rộng danh sách mục tiêu, trừ đi chiều rộng sidebar */
  margin-left: 240px; /* Khoảng cách so với sidebar */
  padding: 20px;
}

.list-header{
  margin-bottom: 40px;
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kpi-item {
  background-color: #FFFCE7;
  border: 2px solid #EAEAEA;
  border-radius: 20;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.24);
  padding-bottom: 50px;
  /* position: relative; */
  
}

.kpi-tag {
  background-color: #e9f5e9;
  color: #16871a;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.kpi-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.kpi-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.progress-bar-background {
  width: 60%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

.add-kpi-button{
  padding: 10px;
  font-size: medium;
  background-color: #FFFCE7;
  border-radius: 5px;
  border: none;
  /* box-shadow: 0 -4px 8px #f9f9f9, 0 4px 8px #00000026; */
  border: 1px solid #282c34;
  flex-shrink: 0;
}

.add-kpi-button:hover{
  box-shadow: 0 2px 2px #f9f9f9,
  0 -2px 2px #00000026;
}

.kpi-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.kpi-date {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Calender {
  padding-top: 6px;
}
h3 {
  width: 10%;
}

.kpi-details {
  padding-right: 15px;
  margin-top: 10px;
  /* flex: 0 0 300px; */
  display: flex;  
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.detail-item {
  padding:  0 15px;
  margin: 10px 2%;
  border-radius: 10px;
  background-color: #D0FFD6;
  box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.24);
  flex: 0 0 25%; 
  box-sizing: border-box;
  padding-top: 15px;
  height: 140px;
}

.kpi-details .icon{
  font-size: 50px;
}

.kpi-details button {
  background-color: #fffce4;
  border: none;
}

.kpis-forcecast{
  padding: 10px;
  font-size: medium;
  background-color: #939185;
  border-radius: 5px;
  border-width: 0.2px;
}

.goal-time-0 {
  display: flex;
  
}
.goal-time-1 {
  width: 80px;
  padding-bottom: 5px;
}
.goal-time-2 {
  width: 20px;
}

.goal-time-container {
  margin-top: 10px;
  margin-left: 15px;
}

.forecast-button-1 {
  margin-top: 25px;
  float: right;
  background-color: #2CC378;
  border-radius: 20px;
  /* padding-left: 10px;
  padding-right: 10px; */
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding-top: 3px;
  padding-left: 25px;
}

.forecast-button-1:hover {
  cursor: pointer;
  opacity: 0.9;
}

.KPI-title {
  padding-left: 10px;
}