.Task {
  text-align: center;
}

.Task-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Task-logo {
    animation: Task-logo-spin infinite 20s linear;
  }
}

.Task-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Task-link {
  color: #ffffff;
}

@keyframes Task-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #ffffff;
}
/* .Task {
  background-color: #91D9B5;
} */
.task-container {
    width: calc(100% - 280px); /* Chiều rộng danh sách mục tiêu, trừ đi chiều rộng sidebar */
  margin-left: 240px; /* Khoảng cách so với sidebar */
  padding: 20px;
}

.task-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    
}

.task-fill{
    display: flex;
    flex-shrink: 0;
    width: 30%;
    /* padding: 10px; */
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFCE7;
    box-shadow: 0 -4px 8px #f9f9f9, 0 4px 8px #00000026;
    border-radius: 20px;
}

.active{
  border: #FFFCE7;
  background-color: #FFFCE7;
  font-size: medium;
  height: 100%;
  padding: 10px;
  width: 33.33%;
  flex-shrink: 0;
}

.active:hover{
  box-shadow: 0 2px 2px #f9f9f9,
  0 -2px 2px #00000026;
}

.add-task-button{
  padding: 10px;
  font-size: medium;
  background-color: #FFFCE7;
  border-radius: 5px;
  border: none;
  box-shadow: 0 -4px 8px #f9f9f9, 0 4px 8px #00000026;
  flex-shrink: 0;
}

.add-task-button:hover{
  box-shadow: 0 2px 2px #f9f9f9,
  0 -2px 2px #00000026;
}


.filter {
  display: flex;
  align-items: center;
  width: 25%;
}

.filter span {
  margin-right: 10px;
}

.filter input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  width: 100%;
  
}

/* .task-list {
} */

.task-category {
  background-color: #FFFCE7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-title {
  background-color: transparent; 
  color: black;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.category-controls button {
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
}

.task-items {
  /* Style for the container of task items within a category */
  display: flex; 
  overflow-x: hidden; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  justify-content: space-between;
}

.task-child{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
}

.task-item {
  background-color: #FFFCE7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 25px; 
  flex: 0 0 300px; /* Adjust width as needed */
  height: 120px;
  /* position: relative;  */
  background-color: #DFFFF4;
}

.task-item-header {
  display: flex;
  width: 100%;
  align-self:center;
  justify-content: space-between;
}

.task-item-header h3{
  margin: 5px 0;
}

.task-info {
  align-items: start;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}

.task-priority {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  text-transform: capitalize;
}

.task-priority.high {
  margin-top: 5.5px;
  height: 80%;
  background-color: #f08080; /* Light red for high priority */
  color: white;
}

.task-priority.medium {
  margin-top: 5.5px;
    height: 80%;
  background-color: #fffacd; /* Light yellow for medium priority */
  color: gray;
}

.task-priority.low {
  margin-top: 5.5px;
    height: 80%;
  background-color: #90ee90; /* Light green for low priority */
  color: grey;
}


/* .task-actions {
  position: absolute;
  top: 10px; 
  right: 10px; 
} */


.task-info-status.completed { /* Example for completed status */
  color: green ;
  border: green 1px solid;
  padding: 0 5px;
  border-radius: 5px;
  align-items: center;
}

.task-info-status.overdue { /* Example for overdue status */
  color: red;
  border: red 1px solid;
  padding: 0 5px;
  border-radius: 5px;
  align-items: center;
}

.task-info-status.incomplete { /* Example for incomplete status */
  color: gray;
  border: gray 1px solid;
  padding: 0 5px;
  border-radius: 5px;
  align-items: center;
}