.notifi-container{
    display: flex;
    width: calc(70% - 280px); /* Chiều rộng danh sách mục tiêu, trừ đi chiều rộng sidebar */
    margin-left: calc(15% + 240px); /* Khoảng cách so với sidebar */
    margin-top: 50px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.notifi-container h2{
    margin-bottom: 50px;
}
.notifi-section{
    background-color: #FFFCE7;
    border-radius: 8px;
    padding: 5px 30px;
    box-shadow: 0 -4px 8px #f9f9f9, 0 4px 8px #00000026;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.notifi-content{
    margin-top: 10px;
    padding-bottom: 15px;
}
.notifi-content:last-child {
    padding-bottom: none;
}
.notifi-content h4 {
    font-size: 16px;
    margin-top: 10px;
  margin-bottom: 10px;
}
.notifi-section .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: auto;
  margin-right: 40px;
}

.notifi-section .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.notifi-section .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.notifi-section .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.notifi-section input:checked + .slider {
  background-color: #23BE7A;
}

.notifi-section input:focus + .slider {
  box-shadow: 0 0 1px #23BE7A;
}

.notifi-section input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.notifi-section .slider.round {
  border-radius: 34px;
}

.notifi-section .slider.round:before {
  border-radius: 50%;
}

.notifi-section .dropdown {
  position: relative;
  width: auto !important;
}

.notifi-section .dropdown-button {
  background-color: transparent;
  border: #bebebe solid 1px;
  padding: 5px 10px;
  cursor: pointer;
  /* margin-left: 25%; */
  margin-right: 15px;
  border-radius: 5px;
  width: 100px !important;
  height: 30px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.notifi-section .dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 2px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  width: 100px !important;
  
}

.notifi-section .dropdown-button:hover {
   border-color: black;
  
}
.notifi-section .dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.notifi-section .dropdown-menu a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.notifi-section .dropdown-menu a:hover {
  background-color: #f1f1f1;
}