@media (max-width: 768px) {
  .password-container {
    width: calc(90% - 50px);
    margin: 20px 70px;
  }

  .password-section h3{
    font-size: 16px;
  }

  .password-text{
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
}
  .password-container .user-name {
    margin-left: 0; 
    text-align: center; 
  }

  .change-pass {
    flex-direction: column;
    margin: 10px 5%; 
  }

  .password-input{
    width: 100%; 
    margin-bottom: 10px; 
  }

  .update{
    width: auto; 
    padding: 0 5px;
  }
}