.password-container{
    display: flex;
    width: calc(70% - 280px); /* Chiều rộng danh sách mục tiêu, trừ đi chiều rộng sidebar */
    margin-left: calc(15% + 240px); /* Khoảng cách so với sidebar */
    margin-top: 7%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    /* background-color: #fffce7; */
}
.password-container .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.password-container .user-name{
    margin-left: 10px;
    margin: 20px 0;
}
.password-section{
    padding: 20px;
    width: 100%;
    background-color: #fffce7;
    margin-bottom: 20px;
    box-shadow: 0 -4px 8px #f9f9f9, 0 4px 8px #00000026;
}
.password-section h3{
    margin-left: 20px;
    font-size: 20px;
    width: 90%;
 }
.change-pass{
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
}
.password-text{
    font-weight: 500;
}
.password-input{
    width: 50%;
    border: none !important;
    height: 30px;
    padding: 5px 10px;
    border-radius: 7px;
}
.update{
    width: 15%;
    border: none !important;
    font-size: 16px;
    background-color: #D74632;
    border-radius: 7px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.update:hover{
    background-color: gray;
}