@media (max-width: 768px) {
    .create-task-container form {
      position: absolute;
      top: 10%;
      width: 80% !important; /* Giảm độ rộng của form */
    }

    .date{
      font-size: 14px;
    }
  
    .date input {
      padding: 5px !important;
      width: 45% ; /* Điều chỉnh chiều rộng của input ngày tháng */
      margin-right: 0 !important; /* Xóa margin phải */
    }

    .date .deadline{
      width: 70% !important;
    }
  
    .date .select {
      margin-right: 0 !important; /* Xóa margin phải */
      width: auto !important;
    }

    .category{
      font-size: 14px;
    }
  
    .task-create-button {
      width: 50% !important; /* Điều chỉnh chiều rộng của nút tạo task */
      margin-left: 0 !important; /* Xóa margin trái */
    }
  
    .task-create-button.Done {
      margin-left: 0 !important; /* Xóa margin trái */
    }
  
    .task-create-button.Close {
      margin-left: 0 !important; /* Xóa margin trái */
    }
  
    .category-details input {
      width: 45% !important; /* Điều chỉnh chiều rộng của input trong chi tiết danh mục */
    }

    .css-1nmdiq5-menu{
      color: black;
      
    }
     .css-qbdosj-Input{
      font-size: 12px !important;
     }
  }
  