.login {
    position: relative;
    height: 100vh;
    text-align: left;
    background-image: linear-gradient(to top, #11998e, #38ef7d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container{
    margin-top: 10%;
    width: 530px;
    border-radius: 20px;
    background-color: #fffce7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 40px 50px;
}

.login-container h2{
    margin-top: 0;
}

.login-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
}

.form-group{
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.group-forget{
    display: flex;
    width: 50%;
    align-items: center;
}

.group-forget input{
    width: 15px !important;
    height: 15px;
}

.form-group input{
    padding: 10px;
    width: 100%;
    border: 0.3px solid gray;
    border-radius: 20px;
}

.login-container form button{
    width: 40%;
    height: 30px;
    font-size: 14px !important;
    border: none !important;
    border-radius: 20px;
    color: white !important;
    background-color: black !important;
    margin: 10px 0;
}

.or{
    margin: 10px !important;
}

.social-login{
    margin: 15px 20%;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.create-account{
    margin: 20px !important;
}

.social-login button{
    width: 40px;
    height: 40px;
    border-radius: 40px !important;
    border: none !important;
    align-items: center;
    background-color: black;
}

.social-icon{
    font-size: 20px !important;
    color: white;
}

.social-login button:hover{
    background-color: white;
}

.social-login button:hover .social-icon{
    color: black;
}